extends ./layout.pug
block content
  section(id='match-cards' class='container')
    - let info = JSON.stringify(next)
    ul(id='matches')
      
            
  script(src='/js/date.js', onload=`response(${info})`)

      
