extends ./layout.pug
block content
  section(id='match-cards' class='container')
    h1 Selección Mexicana
    ul(id='matches')
      
            
  script(src='/js/date.js', onload='getData()')
      
