doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title UPLOAD
    link(rel="stylesheet" href="/css/sade.css")
    link(rel="stylesheet" href="/css/next-fc-mex.css")
    link(href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Monda:400,700" rel="stylesheet")
  body
    block content
